<% meta_tag :description, "" %>
<% meta_tag :keywords, "" %>
<% @title = "Мій Університет - Про сервіс" %>
<% no_index %>

<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row">
      <h1 class="font-weight-light">Мій Університет - Cучасні технології для навчання</h1>
    </div>
    <div class="row mt-4">
      <h3 class="font-weight-light">Навіщо потрібен сервіс?</h3>
    </div>
    <div class="row">
      <ul>
        <li class="font-weight-light">Швидко отримати доступ до розкладу зі смартфона або комп'ютера</li>
        <li class="font-weight-light">Внести зміни в розклад та миттєво опублікувати на сайті та в додатку</li>
        <li class="font-weight-light">Залишити коментар про пару</li>
        <li class="font-weight-light">Проінформувати про важливу подію або новину</li>
        <li class="font-weight-light">Розклад для студентів та викладацького складу</li>
      </ul>
    </div>
    <div>
      <%= image_tag("Layout 2.png", class: "img-fluid") %>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>