<% meta_tag :description, "" %>
<% meta_tag :keywords, "" %>
<% @title = "Мій Університет - Контакти" %>
<% no_index %>

<%= render "layouts/header" %>
<main class="container" role="main">
  <div class="container">
    <div class="row"><h1>Зворотний зв'язок</h1></div>
    <div class="row">
      <p>Якщо у вас виникли будь-які запитання чи пропозиції щодо сервісу, або співпраці, будемо раді відповісти на всі ваші запитання за наступними контактами:</p>
      <p>
        <ul>
          <li>Підтримка в Telegram <a href="https://t.me/voevodin_yura">@voevodin_yura</a></li>
          <li>Facebook <a href="https://www.facebook.com/myuniversityservice">@myuniversityservice</a></li>
          <li>Twitter <a href="https://twitter.com/my_university1">@myuniversity_su</a></li>
          <li>Instagram <a href="https://www.instagram.com/university.my/">university.my</a></li>
          <li>Telegram канал <a href="https://t.me/university_my">@university_my</a></li>
          <li>Електронна пошта <a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a></li>
        </ul>
      </p>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
