<% meta_tag :description, "" %>
<% meta_tag :keywords, "" %>
<% @title = "Мій Університет - iOS додаток" %>
<% no_index %>

<%= render "layouts/header" %>
<main class="container" role="main">

  <div class="container">
    <div class="row"><h1>Мій Університет для iOS</h1></div>
  </div>

  <div class="container mt-2 mb-2">
    <div class="row">

      <div class="col-md-7 order-md-1">
        <div class="mt-4">
          <p>
            <a href="https://itunes.apple.com/ua/app/%D0%BC%D1%96%D0%B9-%D1%83%D0%BD%D1%96%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82/id1440425058?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-10-31&amp;kind=iossoftware&amp;bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
          </p>
        </div>
        <p><b>iOS</b> додаток для <i>викладачів і студентів</i> з розкладом пар.</p>
        <p><b>Основні особливості:</b></p>
        <p>
          <ul>
            <li>Детальний розклад викладачів, аудиторій та груп</li>
            <li>Збереження розкладу для off-line перегляду</li>
            <li>Вкладка "Обране"</li>
            <li>Темна та світла теми</li>
          </ul>
        </p>
        <p><b>Підтримує такі університети:</b></p>
        <p>
          <ul>
            <li>Сумський державний університет (<a href="https://sumdu.edu.ua/uk/">СумДУ</a>)</li>
            <li>Національний технічний університет України "Київський політехнічний інститут імені Ігоря Сікорського" (<a href="https://kpi.ua">КПІ</a>)</li>
          </ul>
        </p>
      </div>

      <div class="col-md-5 order-md-2">
        <div class="Screenshot">
          <video muted="" class="article_screenshot_image" autoplay="autoplay" id="video1" loop=""><source src="iOS.mov" type="video/mp4"></video>
          </div>
        </div>

      </div>
    </div>
  </main>
  <%= render "layouts/footer" %>
