<div class="mx-auto col-md-8 mt-4">
  <div class="mb-4">
    <h4><span class="font-weight-bold"><%= l @date, format: "%A, %e %B %Y" %></span></h4>
  </div>
  <div class="container mb-3">

    <div class="row">
      <div class="btn-group mr-3 mb-2" role="group">
        <form action="" method="get" id="previous_date">
          <input type="date" id="start" name="pair_date"
          value="<%= @previousDate %>" hidden>
          <a onclick="$('#previous_date').submit();" class="btn btn-primary" style="color: white;"><i class="fas fa-chevron-left"></i></a>
        </form>
      </div>
      <div class="btn-group mr-3 mb-2" role="group">
        <button class="btn btn-primary far fa-calendar-alt" type="button" data-toggle="collapse" data-target="#collapseCalendar" aria-expanded="false" aria-controls="collapseCalendar"></button>
      </div>
      <div class="btn-group mr-3 mb-2" role="group">
        <form action="" method="get" id="next_date">
          <input type="date" id="start" name="pair_date"
          value="<%= @nextDate %>" hidden>
          <a onclick="$('#next_date').submit();" class="btn btn-primary" style="color: white;"><i class="fas fa-chevron-right"></i></a>
        </form>
      </div>
    </div>

    <div class="row collapse" id="collapseCalendar">
      <form action="" method="get">
        <div class="form-group">
          <div class="input-group" id="inputDate">
            <input type="date" id="start" name="pair_date"
            value="<%= @pair_date %>"
            min="2018-01-01" max="2022-12-31" class="form-control">
            <div class="input-group-append">
              <input type="submit" class="btn btn-primary" value="Дивитися">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
